body{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    background-color: #2e518b;
}

#menu ul li {
    background-color: #5b78a7;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight: 400;
    font-size:15px;
    padding:10px;
    text-transform:uppercase;
    letter-spacing:1px;
}

#menu ul li ul li a{
    font-size: 10px;
}

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#menu ul li:hover {
    background:#2e518b;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

#menu ul ul li {
    background: #2e518b;
    float:none;
    width:350px;
    height: 20px;
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
}

.content{
    float: left;
    width: 60%;
    margin: 50px;
}

aside{
    float: right;
    width: 30%;
}

footer{
    padding: 10px;
    color: white;
    background-color: black;
    text-align: center;
    clear: both;
    margin: 0;
}

.img_left{
    padding-right: 15px;
    padding-bottom: 15px;
    float: left;
}